.carousel-item img {
    max-height: 200px;
    object-fit: contain;
}

#productCarousel {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

.carousel-item .d-flex {
    justify-content: flex-start !important;
    width: 100%;
    padding: 0;
}

.carousel-item .w-25 {
    width: 150px !important;
    flex: 0 0 150px;
    margin-right: 10px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev {
    left: -50px; 
}
.carousel-control-next {
    right: -50px; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    padding: 10px;
}

.carousel-section h3 {
    margin-left: 31px;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.block-payment-wrapper {
    display: block;
}
.proceed-btn {
    background: #D84040;
    color: white;
    font-weight: 400    ;
}
.proceed-btn:hover {
    background: #A31D1D;
    color: white;
}