/* Custom Styles */
.navbar {
    background-color: #D84040 !important; 
}
#game {
    color: #A31D1D;
    font-weight: bolder;
}
.navbar-brand {
    font-size: 32px;
    font-weight: bolder;
}
.nav-item{
    font-weight: 900;
}

.navbar-nav .nav-link {
    color: white !important; 
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.dropdown-menu {
    background: white;
}

.search-container {
    position: relative;
}

.search-input {
    padding-right: 35px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}
.custom-dropdown {
    width: 400px;
    background: #D84040;
    color: white;
    border-radius: 10px;
}

.custom-dropdown strong {
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
}

.custom-dropdown ul {
    padding-left: 0;
}

.custom-dropdown ul li {
    list-style: none;
    padding: 2px 0;
}
#categoriesDropdown::after {
    display: none !important;
}

@media (max-width: 550px) {  
    .custom-dropdown {
        width: 100%; 
    }
}
