.product-card {
    background: #F8F2DE;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.product-image {
    width: 100%;
    height: 200px; 
    background-color: white;
}
.product-image img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}
.price-tag {
    background: #D84040;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}
.product-title {
    color: black;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 4em; 
    text-decoration: none;
}
.filter-button {
    background: #D84040;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.filter-button:hover{
    background: #A31D1D;
    color: white;
}
#filtersMenu{
    background-color: #fcfcfc;
}
.order-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}